openapi: 3.2.0
info:
  title: enterprise-ato-prevention-api Watchlist API
  version: '1.1'
servers:
- url: https://api.spycloud.io/enterprise-v2
security:
- sec0: []
tags:
- name: Watchlist
paths:
  /watchlist/identifiers:
    get:
      summary: List all identifiers
      description: ''
      operationId: eap-list-all-identifiers
      parameters:
      - name: watchlist_type
        in: query
        description: 'This parameters lets you filter results for only emails or only domains on your watchlist. The allowed values are: [''email'', ''domain'', ''subdomain'', ''ip'']. If no value has been provided, the API will return all watchlist types.'
        schema:
          type: string
          enum:
          - domain
          - ip
          - email
          - subdomain
      - name: verified
        in: query
        description: This parameter lets you filter results by verified status. The allowed values are 'yes' or 'no'. If no value has been provided, the API function will returns both verified and unverified identifiers.
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Watchlist
  /watchlist/{identifier}:
    get:
      summary: Get an identifier
      description: ''
      operationId: eap-get-an-identifier
      parameters:
      - name: identifier
        in: path
        description: The identifier to retrieve from your watchlist.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Watchlist
  /watchlist/create:
    post:
      summary: Create an identifier
      description: ''
      operationId: eap-create-an-identifier
      parameters:
      - name: content-type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  default: example.org
                watchlist_type:
                  type: string
                  description: 'The allowed values are: [''email'', ''domain'', ''subdomain'', ''ip''].'
                  default: domain
      responses:
        '201':
          description: Success - Created
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Watchlist
  /watchlist/{identifier}/delete:
    delete:
      summary: Delete an identifier
      description: ''
      operationId: eap-delete-an-identifier
      parameters:
      - name: identifier
        in: path
        description: The identifier to delete from your watchlist.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Success - No Content
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Watchlist
  /watchlist/{identifier}/verify:
    get:
      summary: Verify an identifier
      description: ''
      operationId: eap-verify-an-identifier
      parameters:
      - name: identifier
        in: path
        description: The domain identifier on your watchlist to verify. Note - this method only works for domains.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Watchlist
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-API-KEY
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: false
x-readme-fauxas: true
