openapi: 3.1.0
info:
  title: session-identity-protection-api
  version: '1.1'
servers:
- url: https://api.spycloud.io/sip-v1
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: x-api-key
security:
- sec0: []
paths:
  /breach/data/cookie-domains/{cookie_domain}:
    get:
      summary: Get cookies for domain
      description: ''
      operationId: sip-get-cookies-for-domain
      parameters:
      - name: cookie_domain
        in: path
        description: This parameter allows you to define a cookie domain to search against, results will include all subdomains.  Optionally,
          a specific cookie subdomain could be used which will result in only that specific cookie subdomain returned.
        schema:
          type: string
        required: true
      - name: since
        in: query
        description: This parameter allows you to define the starting point for a date range query on the spycloud_publish_date
          field in either format for date YYYY-MM-DD or datetime YYYY-MM-DDThh:mm:ss[z]
        schema:
          type: string
          format: date
      - name: until
        in: query
        description: This parameter allows you to define the ending point for a date range query on the spycloud_publish_date
          field in either format for date YYYY-MM-DD or datetime YYYY-MM-DDThh:mm:ss[z]
        schema:
          type: string
          format: date
      - name: source_id
        in: query
        description: This parameter allows you to filter based on a particular breach source.
        schema:
          type: integer
          format: int32
      - name: severity
        in: query
        description: This parameter allows you to filter based on the numeric severity code. *Note - all cookie records have
          a default severity of 26
        schema:
          type: integer
          format: int32
      - name: cookie_name
        in: query
        description: This **case sensitive** parameter allows you to search for a specific cookie name
        schema:
          type: string
      - name: since_cookie_expiration
        in: query
        description: Since a cookie expiration date (results are inclusive of date specified)
        schema:
          type: string
          format: date
      - name: until_cookie_expiration
        in: query
        description: Until a cookie expiration date (results are inclusive of date specified)
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        description: Token used for iterating through multiple pages of results.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /breach/catalog:
    get:
      summary: List all breach metadata
      description: ''
      operationId: sip-list-all-breach-metadata
      parameters:
      - name: query
        in: query
        description: Query value to search the breach catalog for. For example, this could be the name of a malicious actor,
          or a domain name of breached website. Any contextual data part of our breach catalog is searchable
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: since
        schema:
          type: string
      - in: query
        name: until
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /breach/catalog/{id}:
    get:
      summary: Get metadata for a breach
      description: ''
      operationId: sip-get-metadata-for-a-breach
      parameters:
      - name: id
        in: path
        description: Numerical ID of the breach. Both integer and UUIDv4 ID formats are supported. You may also use a comma
          delimiter to request more than one breach at a time.
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: false
x-readme-fauxas: true
