{
  "openapi": "3.1.0",
  "info": {
    "title": "nist-password-api",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.spycloud.io/nist-password-v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/check/hashes/{hash}": {
      "get": {
        "summary": "Check password hash",
        "description": "",
        "operationId": "nist-check-password-hash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "5 hexadecimal digit prefix of a password hash.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "type",
            "in": "query",
            "description": "Hashing algorithm of password hash [ntlm, sha1, sha256, sha512].",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}